
body
{
    margin: 0px;
    background-color: #D1EEEE;
}

body > table
{
    padding:0;
    margin: 0;
    border-spacing: 0px;
}

#header
{
    height: 6em;
    background-color: #528B8B;
    width: 100%;
    border-bottom: solid 2px black;
    padding: 0px;
    margin: 0px;
}

#name
{
    margin-left: 20px;
    line-height: 4em;
    font-size: x-large;
    font-weight: bold;
}

.left_side
{
    width:100%;
    vertical-align: top;
    padding: 0;
    padding-bottom: 10px;
}

.right_side
{
    min-width:160px;
    vertical-align: top;
    border-left: solid 1px black;
    padding-bottom: 10px;
}

.refs
{
    list-style-type: none;
    margin-left: 10px;
    margin-top: 20px;
}

.ref, .current_ref
{
    margin-left: 10px;
}

a:link, a:visited
{
    color: #528B8B;
    text-decoration: none;
}

#header a:link, #header a:visited, .footer a:link, .footer a:visited
{
    color: #D1EEEE;
    text-decoration: none;
}

a:hover, #header a:hover, .footer a:hover
{
    color: #A2CD5A;
    text-decoration: underline;
}

.heading a:link, .heading a:visited
{
    color: #2F4F4F;
    text-decoration: none;
}

.heading a:hover
{
    color: #528B8B;
    text-decoration: underline;
}

.current_ref a
{
    color: #330099;
    font-weight: bold;
}

.footer
{
    width: 100%;
    background-color: #528B8B;
    border-top: solid 1px black;
}

.about_pyrite
{
    text-align: left;
}

.commit_info
{
    margin-top: 20px;
    margin-right: 15px;
    padding-left: 10px;
}

.indent
{
    padding-left: 10px;
}

.heading
{
    margin-bottom: 10px;
    background-color: #66CDAA;
    border: solid 1px black;
}

.strip
{
    padding: 0;
    margin: 0;
}

.shrink
{
    width: 1px;
}
