
body
{
    margin: 0px;
}

#header
{
    height: 6em;
    background-color: #528B8B;
    width: 100%;
    border-bottom: solid 2px black;
    padding: 0px;
    margin: 0px;
}

#name
{
    margin-left: 20px;
    line-height: 4em;
    font-size: x-large;
    font-weight: bold;
}

.left_side
{
    width:100%;
    vertical-align: top;
}

.right_side
{
    min-width:160px;
    vertical-align: top;
    border-left: solid 1px black;
}

.refs
{
    list-style-type: none;
    margin-left: 10px;
    margin-top: 20px;
}

.ref, .current_ref
{
    margin-left: 10px;
}

a:link, a:visited
{
    color: #79CDCD;
    text-decoration: none;
}

a:hover
{
    color: #A2CD5A;
    text-decoration: underline;
}

.current_ref a
{
    color: #330099;
    font-weight: bold;
}

.footer
{
    width: 100%;
    background-color: #528B8B;
    border-top: solid 1px black;
}

.about_pyrite
{
    text-align: left;
}