#commits_table
{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.cell
{
    border: solid 1px black;
    padding: 2px;
}

.col_header
{
    text-align: center;
    background-color: #66CCCC;
    font-weight: bold;
    border: solid 1px black;
    padding: 2px;
}

.data_row
{
    text-align: left;
    padding: 2px;
}

.data_row a:link, .data_row a:visited
{
    color: black;
    text-decoration: none;
}

.data_row a:hover
{
    color: DarkRed;
    text-decoration: underline;
}

.data_row[parity="True"]
{
    background-color: #66CC99;
}

.data_row[parity="False"]
{
    background-color: #66CC66;
}

.data_row:hover
{
    background-color: #66FF99;
}

.date_cell
{
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
}

.subj_cell
{
}