.standard_table
{
    border-spacing: 0px;
    width: 100%;
}


.table_wrapper
{
    margin-top: 30px;
    margin-bottom: 5px;
    margin-right: 15px;
}

.cell
{
    text-align: left;
    padding: 2px 1em 2px 1em;
    margin: 0;
}

.col_header
{
    text-align: center;
    background-color: #528B8B;
    font-weight: bold;
    padding: 2px;
}

.data_row[parity="True"]
{
    background-color: #D1EEEE;
}

.data_row[parity="False"]
{
    background-color: #E0FFFF;
}

.data_row:hover
{
    background-color: #B4CDCD;
}


.cell a:link, .cell a:visited
{
    color: black;
}

.cell a:hover
{
    color: #528B8B;
}


.tag, .head
{
    border: solid 1px black;
    padding: 0px 3px 0px 3px;
}

.tag
{
    background-color: yellow;
}

.head
{
    background-color: lightgreen;
}

.previous
{
    margin-left: 20px;
    float: left;
}

.next
{
    margin-right: 20px;
    float: right;
}