Commit: {ID}
Parents: {PARENTS}
Author: {AUTHOR} <{AUTHOR_EMAIL}>
Authored Date: {AUTHOR_DATE|humandate}
Commiter: {COMMITER} <{COMMITER_EMAIL}>
Commited: {COMMIT_DATE|humandate}
Subject: {SUBJECT}

{BODY|absent_ok|indent}{PATCH|absent_ok}
