<%inherit file="layout.html" />
<%!
    from pyrite.utils.stringopts import relative_date
    from time import mktime
%>

<%def name="init()" >
</%def>

<%def name="css()" >
    <link rel="stylesheet" type="text/css"
          href="/static/standard_table.css" />
</%def>

<%def name="title()" >
    ${ ' %s -- Pyrite web.' % self.repo.name }
</%def>

<div class="table_wrapper">
    <table class="standard_table">
        <tr class="data_row">
            <td class="col_header">Date</td>
            <td class="col_header">Name</td>
            <td class="col_header">Subject</td>
            <td class="col_header">View</td>
        </tr>
        % for i, ref in enumerate(self.repo.refs(type, extended=True)):
        <tr class="data_row ${ i % 2 and 'even' or 'odd' }">
            <td class="cell">
                ${ relative_date(str(int(mktime(ref[1])))) }
            </td>
            <td class="cell">
                 <a href="${'/%s/ref/%s' % (project,
                                ref[0])}">${ ref[0] }</a>
            </td>
            <td class="cell expand">
                <span>${ ref[3] | h }</span>
            </td>
            <td class="cell">
                % if type == 'tags':
                <a href="${'/%s/commit/%s' % (project,
                ref[0])}">tag</a>
                % endif
                <a href="${'/%s/commit/%s' % (project,
                ref[4])}">commit</a>
                <a href="${'/%s/ref/%s' % (project,
                                ref[0])}">history</a>
            </td>
        </tr>
        % endfor
    </table>
</div>
