## -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%!
    from pygments import highlight
    from pygments.lexers import get_lexer_for_filename, get_lexer_for_mimetype
    from pygments.formatters import HtmlFormatter
    from pyrite.git.repository import Repo
    import os

    __repos = {'default': Repo()}
    formatter = HtmlFormatter(linenos='table', encoding='utf-8')
%>
<%
    repo = __repos.get(project, __repos['default'])
    try:
        lexer = get_lexer_for_filename(os.path.basename(path),
                                        encoding='utf-8')
    except:
        lexer = get_lexer_for_mimetype('text/plain', encoding='utf-8')
%>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/common.css" />
    <title>${repo.description} - ${path}
            Pyrite web interface.</title>
    <style type="text/css">
    ${ formatter.get_style_defs('.highlight') }
    </style>
</head>
<%namespace name="header" file="header.html" />
<%namespace name="rp" file="right_panel.html" />
<%namespace name="ft" file="footer.html" />
<body>
    ${header.header(project, repo)}

<table>
    <tr>
        <td class="left_side">
            ${ highlight(''.join(repo.blob(blob_id)), lexer, formatter) }
        </td>
        <td class="right_side">
            ${ rp.content(project, repo, None) }
        </td>
    </tr>
</table>
${ ft.footer() }
</body>
</html>