<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%!
    from pyrite.git.repository import Repo
    from pyrite.git.commit import Commit
    from pyrite.utils.stringopts import humandate, indent
    from pygments import highlight
    from pygments.lexers import get_lexer_by_name
    from pygments.formatters import HtmlFormatter
    __repos = {'default': Repo()}
    lexer = get_lexer_by_name('diff')
    formatter = HtmlFormatter()
%>
<%
    repo = __repos.get(project, __repos['default'])
    commit = Commit(commit_id, data=[Commit.ID, Commit.REFS,
                                    Commit.PATCH], obj=repo)
%>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/header.css" />
    <title>${ repo.description } - ${ commit.subject }
            Pyrite web interface.</title>
    <style type="text/css">
    .commit_props
    {
        margin-top: 20px;
    }
    .commit_props li
    {
        list-style-type: none;
    }
    .commit_props .parents, .commit_props ul
    {
        vertical-align: top;
    }
    .commit_props ul
    {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
    }
    ${ formatter.get_style_defs('.highlight') }
    </style>
</head>
<%namespace name="header" file="header.html" />
<%namespace name="rp" file="right_panel.html" />
<body>
    ${ header.header(project, repo) }

<table>
    <tr>
        <td class="left_side">
            <table class="commit_props">
                <tr>
                    <td>Commit:</td>
                    <td>${ commit.id }</td>
                </tr>
                <tr>
                    <td>Author:</td>
                    <td>${ commit.author | h}
                </tr>
                <tr>
                    <td>Date:</td>
                    <td>${ humandate(commit.raw[Commit.AUTHOR_DATE]) }
                </tr>
                <tr>
                    <td class="parents">Parents:</td>
                    <td><ul>
                        % for p in commit.parent_ids:
                        <li class="parent_li">
                            <a href="${'/%s/commit/%s' % (project,
                                        p) }">${ p }</a>
                        </li>
                        % endfor
                    </ul></td>
                </tr>
                <tr>
                    <td>Files:</td>
                    <td>
                        <a href="${ '/%s/tree/%s?path=' % (project,
                                    commit.tree) }">files</a>
                    </td>
                </tr>
                <tr>
                    <td>Subject:</td>
                    <td>${ commit.subject }</td>
                </tr>
            </table>
            <pre>
            % if commit.body:
            ${ ''.join(indent(commit.body)) }
            % endif
            </pre>
            <table style="width:100%;">
                % for f in repo.changed_files(commit.id):
                <tr>
                    <td>${ f[1] }</td>
                    <td>
                        <a href="${ '/%s/diff/%s/%s/%s' % (project,
                                    commit.parent_ids[0], commit.id,
                                    f[1]) }">diff</a>
                    </td>
                    <td>
                        <a href="${ '/%s/ssdiff/%s/%s/%s' % (project,
                                    commit.parent_ids[0], commit.id,
                                    f[1]) }">side-by-side diff</a>
                    </td>
                </tr>
                % endfor
            </table>
            <hr>
            ${ highlight(''.join(commit.patch), lexer, formatter) }
        </td>
        <td class="right_side">
            ${ rp.content(project, repo, None) }
        </td>
    </tr>
</table>
</body>
</html>
