<%!
from pyrite.git.commit import Commit
from pyrite.utils.stringopts import relative_date
data = [Commit.ID, Commit.REFS]
%>
<%namespace name="utils" file="utils.html" />
<%page args="project, repo, ref, page=0" />
<div class="table_wrapper">
<table class="standard_table">
    <tr class="data_row">
        <td class="col_header">Date</td>
        <td class="col_header">User</td>
        <td class="col_header">Subject</td>
    </tr>
    <%
        page = page * 100
        if ref:
            gen = Commit.get_commits(repo, None, ref, 100, skip=page,
                                        data=data) 
        else:
            gen = Commit.get_commits(repo, None, None, 100, skip=page,
                                        data=data, all=True) 
    %>
    % for i, c in enumerate(gen):
    <tr class="data_row ${ i % 2 and 'even' or 'odd' }">
        <td class="cell">${ relative_date(c.raw[Commit.COMMIT_DATE]) }</td>
        <td class="cell">${ c.author_name }</td>
        <td class="cell expand"><a href="${'/%s/commit/%s' % (project,
                        c.id)}">${ c.subject |h }</a>
            % for r in c.refs:
                ${ utils.ref_link(project, r) }&nbsp;
            % endfor
        </td>
    </tr>
    % endfor
</table>
</div>
${ utils.table_pager(page // 100, '/%s/%%d' % project, i == 99) }
