<%inherit file="layout.html" />
<%!
    from pyrite.git.commit import Commit
    from pyrite.utils.stringopts import humandate, indent
    from pygments import highlight
    from pygments.lexers import get_lexer_by_name
    from pygments.formatters import HtmlFormatter
    lexer = get_lexer_by_name('diff', encoding='utf-8')
    formatter = HtmlFormatter(encoding='utf-8', nobackground=True)
%>

<%def name="init()" >
<%
    self.c1 = Commit(v1, obj=repo)
    self.c2 = Commit(v2, obj=repo)
    self.path = f
%>
</%def>

<%def name="css()" >
    <link rel="stylesheet" type="text/css"
          href="/static/standard_table.css" />
    <style type="text/css">
        .base, .update
        {
            display: inline-block;
            vertical-align: top;
            width: 50%;
        }
        .update { float: right; }
        .base { float: left; }
        .main { clear: both; }
        ${ formatter.get_style_defs('.highlight') }
    </style>
</%def>

<%def name="title()" >
    ${ ' %s -- %s -- Pyrite web.' % (self.repo.name, self.path) }
</%def>

<%namespace name="utils" file="utils.html" />
<div>
    <div class="base">
        ${ utils.commit_info(self.project, self.c1.raw,
                            'Parent: ' + self.c1.short) }
    </div>
    <div class="update">
        ${ utils.commit_info(self.project, self.c2.raw,
                            'Current: ' + self.c2.short) }
    </div>
    <div class="main indent">
        <hr>
    ${ highlight(''.join(self.repo.diff(v1, v2, paths=[f])),
                lexer, formatter) }
    </div>
</div>
