#header
{
    height: 6em;
    background-color: #99CCFF;
    width: 100%;
    border: solid 2px black;
}

#name
{
    margin-left: 20px;
    line-height: 4em;
    font-size: x-large;
    font-weight: bold;
}#header
{
    height: 6em;
    background-color: #99CCFF;
    width: 100%;
    border: solid 2px black;
}

#name
{
    margin-left: 20px;
    line-height: 4em;
    font-size: x-large;
    font-weight: bold;
}