<%inherit file="layout.html" />
<%!
    from pyrite.git.commit import Commit
%>

<%def name="init()" >
<%
    self.path = path
%>
</%def>

<%def name="css()" >
    <link rel="stylesheet" type="text/css"
          href="/static/standard_table.css" />
    <link rel="stylesheet" type="text/css"
          href="/static/standard_table.css" />
    <style type="text/css">
        .commit_info > pre
        {
            max-width: 90%;
            white-space: normal;
            margin-left: 25px;
        }
    </style>
</%def>

<%def name="title()" >
    ${ ' %s -- Pyrite web.' % self.repo.name }
</%def>

<%namespace name="utils" file="utils.html" />
<%
p = int(page) * 100
if ref:
    gen = Commit.get_commits(self.repo, None, commit_id, 50,
                                paths=[path], skip=p)
else:
    gen = Commit.get_commits(self.repo, None, None, 50,
                                paths=[path], skip=p, all=True) 
%>
% for i, c in enumerate(gen):
${ utils.commit_info(self.project, c.raw, 'Commit: ' + c.short) }
% endfor
${ utils.table_pager(p // 100, '/%s/log/%s/%%d/%s' % (self.project,
                        c.id, path), i == 49) }
