<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%!
    from pyrite.utils import stringopts
    from pyrite.git.commit import Commit
    from pyrite.git.repository import Repo
    __repos = {'default': Repo()}
    branch = ''
    project = 'default'
%>
<% repo = __repos.get(path, __repos['default']) %>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/header.css" />
    <link rel="stylesheet" type="text/css" href="/static/commit_table.css" />
    <title>${ repo.description} -- Pyrite web interface.</title>
    <style type="text/css">
        .left_side
        {
            padding-left: 10px;
            margin-right:200px;
        }
        .right_side
        {
            position: absolute;
            right: 0px;
            top:98px;
            width: 180px;
            border-left: solid 1px black;
            display: block;
            height: 100%;
            float: left;
        }
    </style>
</head>
<%namespace name="header" file="header.html" />
<%namespace name="tbl" file="commit_table.html" />
<body>
    ${header.header(repo)}

<div class="left_side">
    ${ tbl.table(project, repo, branch)}
</div>
<div class="right_side">
    <div class="branches">
        <div class="branch_name">Branches:</div>
        <br />
    % for b in repo.branches():
    %    if branch == b:
        <div class="branch_current">
            <a href="${'/%s/ref/%s' % (project, b)}">${ b }</a>
       </div>
    %    else:
        <div class="branch">
            <a href="${'/%s/ref/%s' % (project, b)}">${ b }</a>
       </div>
    %    endif
    % endfor
    </div>
</div>
</body>
</html>

