<%inherit file="layout.html" />

<%def name="css()" >
    <link rel="stylesheet" type="text/css"
          href="/static/standard_table.css" />
    <link rel="stylesheet" type="text/css" href="/static/project.css" />
</%def>
<%def name="title()" >
    ${ ' %s -- Pyrite web.' % self.repo.name }
</%def>

<%def name="init()">
<%
    self.p = page and int(page) or 0
    self.ref = ref_id
%>
</%def>

<div class="heading">${ self.repo.description | h }</div>
% if self.repo.homepage:
<div class="info">Homepage:
    <a href="${ self.repo.homepage }">${ self.repo.homepage | h} </a>
</div>
% endif
<div class="info">Owner: ${ self.repo.owner | h }</div>
<div  class="info" style="text-decoration: line-through;">
    Clone URL:
    <script language="javascript">
        {
            document.write(location.protocol + "//" +
                           location.hostname)
            if (location.port != 80 ||
                (location.protocol == "https" &&
                 location.port != 443))
            {
                document.write(':' + location.port)
            }
            document.write("/")
            % if project != 'default':
            document.write(${ self.project })
            % endif
        }
    </script>
</div>
<% blurb = self.repo.blurb %>
% if blurb:
<div class="info">
    ${ blurb }
</div>
% endif

<%namespace name="utils" file="utils.html" />

<%
    params = {
        'project': self.project,
        'repo': self.repo,
        'ref': self.ref,
        'page': self.p
    }
%>

<%include file="commit_table.html" args="params=params" />

${ utils.table_pager(self.p, '/%s/%%d' % project, params['i'] == 99) }
