<%inherit file="layout.html" />

<%def name="init()" >
<%
    self.ref = ref_id
    self.p = page and int(page) or 0
%>
</%def>

<%def name="css()" >
    <link rel="stylesheet" type="text/css"
          href="/static/standard_table.css" />
    <link rel="stylesheet" type="text/css"
          href="/static/standard_table.css" />
</%def>

<%def name="title()" >
    '%s -- %s -- Pyrite web.' % (self.repo.name, ref_id)
</%def>

<%namespace name="utils" file="utils.html" />

<%
    params = {
        'project': self.project,
        'repo': self.repo,
        'ref': ref_id,
        'page': self.p
    }
%>
<%include file="commit_table.html" args="params=params" />

${ utils.table_pager(self.p, '/%s/ref/%s?%%d' % (project,
                    ref_id), params['i'] == 99) }

