<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%!
    from pyrite.git.repository import Repo
    __repos = {'default': Repo()}
%>
<%
    repo = __repos.get(project, __repos['default'])
%>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/header.css" />
    <title>${repo.description} - ${path}
            Pyrite web interface.</title>
</head>
<%namespace name="header" file="header.html" />
<%namespace name="rp" file="right_panel.html" />
<body>
    ${header.header(project, repo)}

<table>
    <tr>
        <td class="left_side">
            <table class="files_table">
            % for perm, type, id, name in repo.tree(tree_id):
                <tr>
                    <td class="perm">${perm}</td>
                    % if type == Repo.BLOB:
                        <td><a href="${'/%s/blob/%s?path=%s/%s' % \
                        (project, id, path, name)}">${name}</a></td>
                    % else:
                        <td><a href="${'/%s/tree/%s?path=%s/%s' % \
                        (project, id, path, name)}">${name}/</a></td>
                    % endif
                </tr>
            % endfor
            </table>
        </td>
        <td class="right_side">
            ${ rp.content(project, repo, None) }
        </td>
    </tr>
</table>
</body>
</html>
