<%inherit file="layout.html" />
<%!
    from pyrite.git.repository import Repo
    from pyrite.git.commit import Commit
    from pyrite.utils.stringopts import humandate, indent
%>

<%def name="init()" >
<%
    self.c = Commit(commit_id, obj=repo)
    self.path = path
%>
</%def>

<%def name="css()" >
    <link rel="stylesheet" type="text/css"
          href="/static/standard_table.css" />
    <link rel="stylesheet" type="text/css"
          href="/static/standard_table.css" />
    <style type="text/css">
        .left_side
        {
            padding-top: 20px;
            padding-right: 15px;
        }
        .indent, .left_side
        {
            padding-left: 10px;
        }
        .heading
        {
            margin-bottom: 10px;
            background-color: #66CDAA;
            border: solid 1px black;
        }
    </style>
</%def>

<%def name="title()" >
    ${ ' %s -- %s -- Pyrite web.' % (self.repo.name, self.path) }
</%def>

<div class="heading">Commit</div>
    <div class="commit_info">
        <div class="indent">
            <a href="$ {'/%s/commit/%s' % (project, commit_id) }">
                Subject: ${ self.c.subject }
            </a>
        </div>
        <br>
        <div class="indent">
            ${ self.c.author | h}
            ${ humandate(self.c.raw[Commit.AUTHOR_DATE]) }<br>
        </div>
        <pre>
            ${ ''.join(indent(self.c.body)) | h }
        </pre>
    </div>
</div>
<div class="heading indent">${ path and path or '/' }</div>
<hr>
<table class="standard_table">
% for i, (perm, type, sha, name) in enumerate(self.repo.tree(tree_id)):
    <tr class="data_row ${ i % 2 and 'even' or 'odd' }">
        <td class="cell">${perm}</td>
        % if type == Repo.BLOB:
        <td class="cell expand">
            <a href="${'/%s/blob/%s%s/%s' % \
            (project, commit_id, path, name)}">${name}</a>
        </td>
        <td class="cell">
            <a href="${ '/%s/blame/%s?path=%s/%s' % (project,
                        commit_id, path, name)}">blame</a>
        </td>
        % else:
        <td class="cell expand">
            <a href="${'/%s/tree/%s/%s?path=%s/%s' % \
            (project, commit_id, sha, path, name)}">${name}/</a>
        </td>
        <td class="cell" />
        % endif
        <td class="cell">
            <a href="${ '/%s/log/%s/0%s/%s' % (project,
                        self.c.id, path, name) }">history</a>
        </td>
    </tr>
% endfor
</table>
