From: {PARENTS|get} {AUTHOR_DATE|isodate}
From: {AUTHOR} <{AUTHOR_EMAIL}>
Date: {curdate|humandate} {AUTHOR_DATE_OFFSET}
Subject: [PATCH{SEQNO|absent_ok}] {SUBJECT}
{BODY|absent_ok}{DIFFSTAT|absent_ok}{PATCH|absent_ok}
