From: {PARENTS|getparent} {AUTHOR_DATE|isodate}
From: {AUTHOR} <{AUTHOR_EMAIL}>
Date: {curdate|humandate}
Subject: [PATCH{SEQNO|absent_ok}] {SUBJECT}

{BODY|absent_ok|add_if_present}{DIFFSTAT|absent_ok|add_if_present}{PATCH|absent_ok}
