Commit: {ID}
Parents: {PARENTS|join}
Author: {AUTHOR} <{AUTHOR_EMAIL}>
Authored Date: {AUTHOR_DATE|humandate} {AUTHOR_DATE_OFFSET}
Commiter: {COMMITER} <{COMMITER_EMAIL}>
Commited: {COMMIT_DATE|humandate}
Refs: {REFS|join}
Subject: {SUBJECT}

{BODY|absent_ok|indent}{PATCH|absent_ok}
